@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  transition: width 1s ease-in-out;
}
body {
  background-color: black;
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}
/*********************************** HEADER ***********************************/
header {
  align-items: center;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9) left bottom
    transparent no-repeat;
  background-color: black;
  background-size: 100% 2px;
  height: 140px;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.header.active {
  height: 100px;
}
/******* MoviesApp Logo *******/
.logo-container {
  width: 50%;
  display: flex;
}
.logo {
  background: #800080;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: --webkit-linear-gradient(right, #f64f59, #c471ed, #12c2e9);
  background-clip: text;
  background-size: 100%;
  cursor: pointer;
  font-family: inherit;
  font-size: 4.5rem;
  font-weight: 600;
  letter-spacing: 5px;
  margin-left: 5%;
  overflow: hidden;
  -moz-background-clip: text;
  -fox-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/******* Search Container *******/
.search-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.search {
  background: black;
  border-radius: 10px;
  padding: 1px;
  position: relative;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  margin-right: 5%;
  overflow: hidden;
}
.input {
  background-color: black;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
}
.input:focus {
  outline: none;
}
/*********************************** MAIN PAGE ***********************************/
.main-page {
  margin-top: 140px;
}
/******* Quote Container *******/
.quote {
  color: white;
  display: flex;
  font-family: inherit;
  padding: 50px 100px 0 100px;
  font-weight: 200;
  flex-direction: column;
}
.quote h3 i {
  font-size: 2rem;
  font-weight: 200;
}
.quote h3 .quote-author {
  margin-left: auto;
  text-align: right;
  font-weight: 600;
}
/******* Swiper/Slider Settings *******/
.all-sections-container {
  margin-bottom: 70px;
}
.individual-section {
  padding: 0 25px 0 25px;
}
.section-title {
  color: white;
  font-family: inherit;
  font-size: 2.5rem;
  letter-spacing: 5px;
}
.swiper-container {
  height: auto;
  padding: 50px 0 25px 0;
  position: relative;
  width: 100%;
}
.swiper-slide {
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  margin: auto;
  max-width: 12rem;
}
.swiper-slide:hover,
.movie:hover {
  transform: scale(1.3);
  transition: all 300ms ease-in-out;
  z-index: 1;
}
.swiper-slide:hover img,
.movie:hover img,
.movie-poster img {
  cursor: pointer;
  box-shadow: 0px 0px 60px -25px #fff;
}
/*********************************** FOOTER ***********************************/
footer {
  background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
  bottom: 0;
  height: 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
footer.active {
  height: 30px;
}
.footer-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}
/******* Powered By: *******/
.text-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.text-container p {
  align-self: center;
  color: white;
  display: flex;
  font-family: inherit;
  font-size: 1rem;
  white-space: nowrap;
}
/******* TMDB Logo *******/
.tmdb-container {
  align-items: center;
  display: flex;
  justify-content: center;
}
.tmdb-container img {
  align-self: center;
  display: flex;
  height: 30px;
  width: auto;
}
/*********************************** CLICKED MOVIE CONTAINER ***********************************/
.movie-container {
  display: flex;
  padding: 50px;
  width: 100%;
}
/******* Clicked Movie Poster *******/
.movie-poster-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-poster img {
  height: 550px;
}
/******* Clicked Movie Info *******/
.movie-info {
  color: white;
  font-family: inherit;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.movie-info h1 {
  font-family: inherit;
  font-size: 3.5rem;
}
.movie-info .movie-div {
  width: 100%;
}
.movie-info .movie-div .div {
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9, transparent)
    left bottom transparent no-repeat;
  padding: 2px;
}
.movie-info .movie-details p {
  margin-top: 20px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 5px;
}
.movie-info .emphasize,
.movie-info p::first-letter {
  font-size: 2rem;
  font-weight: 400;
}
.movie-info .anchor {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.movie-info .anchor:hover {
  color: white;
  box-shadow: inset 0 -2px 0 0 white;
}
/*********************************** MOVIES FOUND CONTAINER ***********************************/
/******* Movies Found Title *******/
.display-searched-word-container {
  display: flex;
  margin-top: 140px;
  padding: 25px 0 25px 25px;
}
/******* Movies Found Container *******/
.movies-found-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.movies-found-container .movie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 350px;
  margin: 50px;
  transition: 300ms;
  width: 230px;
}
.movie img {
  height: 100%;
  width: 100%;
}
/*********************************** DIVIDER ***********************************/
.div-container {
  padding: 35px 0 35px 0;
  position: relative;
  width: 100%;
}
.divider {
  background: linear-gradient(
      to right,
      transparent,
      #f64f59,
      #c471ed,
      #12c2e9,
      transparent
    )
    left bottom transparent no-repeat;
  border-radius: 5px;
  padding: 2px;
  margin: 0 auto;
  width: 90%;
}
/********************************************************************** SMARTPHONE MEDIA QUERIES **********************************************************************/
@media screen and (min-width: 320px) {
  html {
    overflow-x: hidden;
  }
  /*********************************** HEADER ***********************************/
  header {
    height: 90px;
  }
  .header.active {
    height: 60px;
  }
  /******* MoviesApp Logo *******/
  .logo {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }
  /******* Search Container *******/
  .search {
    display: flex;
  }
  .input {
    font-size: 0.7rem;
    padding: 5px;
  }
  /*********************************** MAIN PAGE ***********************************/
  .main-page {
    margin-top: 90px;
  }
  /******* Quote Container *******/
  .quote {
    padding: 5px 25px 0 25px;
  }
  .quote h3 i {
    font-size: 1rem;
  }
  /******* Swiper/Slider Settings *******/
  .all-sections-container {
    margin-bottom: 30px;
  }
  .individual-section {
    padding: 0 10px 0 10px;
  }
  .section-title {
    font-size: 1.2rem;
    letter-spacing: 0;
  }
  .swiper-container {
    padding: 10px 0 10px 0;
  }
  .swiper-slide img {
    max-width: 9rem;
    transition: 300ms;
  }
  .swiper-slide:hover,
  .movie:hover {
    transform: none;
  }
  .swiper-slide:hover img,
  .movie:hover img {
    box-shadow: none;
  }
  /*********************************** FOOTER ***********************************/
  footer.active {
    height: 20px;
  }
  /******* Powered By: *******/
  .text-container p {
    font-size: 0.8rem;
  }
  /******* TMDB Logo *******/
  .tmdb-container img {
    height: 15px;
  }
  /*********************************** CLICKED MOVIE CONTAINER ***********************************/
  .movie-container {
    padding: 0;
    flex-direction: column;
  }
  /******* Clicked Movie Poster *******/
  .movie-poster-container {
    padding-top: 25px;
    width: 100%;
  }
  .movie-poster img {
    height: 300px;
  }
  /******* Clicked Movie Info *******/
  .movie-info {
    width: 100%;
    margin-left: 0;
    padding: 0 25px 0 25px;
  }
  .movie-info h1 {
    font-size: 2rem;
    text-align: center;
  }
  .movie-info .movie-div {
    padding: 10px 0 10px 0;
  }
  .movie-info .movie-div .div {
    background: linear-gradient(
        to right,
        transparent,
        #f64f59,
        #c471ed,
        #12c2e9,
        transparent
      )
      left bottom transparent no-repeat;
  }
  .movie-info .movie-details p {
    margin-top: 10px;
    font-size: 1rem;
    letter-spacing: 0;
    text-align: justify;
  }
  .movie-info .emphasize,
  .movie-info p::first-letter {
    font-size: 1.2rem;
  }
  .movie-info .anchor {
    transition: none;
  }
  .movie-info .anchor:hover {
    box-shadow: none;
  }
  .movie-container .div-container {
    padding: 15px 0 10px 0;
  }
  /*********************************** MOVIES FOUND CONTAINER ***********************************/
  /******* Movies Found Title *******/
  .display-searched-word-container {
    display: flex;
    margin-top: 90px;
    padding: 10px 0 0 10px;
  }
  /******* Movies Found Container *******/
  .movies-found-container {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .movies-found-container .movie {
    height: 150px;
    margin: 10px;
    width: 100px;
  }
  /*********************************** DIVIDER ***********************************/
  .div-container {
    padding: 25px 0 25px 0;
  }
}
/********************************************************************** TABLET MEDIA QUERIES **********************************************************************/
@media only screen and (min-width: 768px) {
}
/********************************************************************** LAPTOP MEDIA QUERIES **********************************************************************/
@media only screen and (min-width: 1200px) {
}
/********************************************************************** DESKTOP MEDIA QUERIES **********************************************************************/
@media only screen and (min-width: 1600px) {
}
